<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .cadastro-container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            border-radius: 8px;
        }
        .cadastro-title {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="cadastro-container">
            <h1 class="cadastro-title text-center">Cadastro</h1>
            <form action="{% url 'cadastro' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Usuário:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" class="form-control" id="senha" name="senha" required>
                </div>
                <div class="form-group">
                    <label for="senha2">Confirme a Senha:</label>
                    <input type="password" class="form-control" id="senha2" name="senha2" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
            </form>
            <br>
            {% for message in messages %}
                <div class="alert alert-danger text-center" role="alert">
                    <strong>ERRO:</strong> {{ message }}
                </div>
            {% endfor %}
            <div class="text-center">
                <a href="/login" class="btn btn-link">Voltar para Login</a>
            </div>
        </div>
    </div>
    {% include "model-footer.html" %}
</body>
</html>
